@model MyRecipe.ViewModels.HomeViewModel

@{
    Layout = "_layout";
}

@{
    ViewData["Title"] = "Index";
}

<h2>Reciepts</h2>

@foreach (var recipe in Model.Recipes)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@recipe.ImageUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">$@recipe.Price.ToString("#0.00")</h3>
                <h3>
                    <a asp-controller="Home"
                       asp-action="Detail"
                       asp-route-id="@recipe.Id">@recipe.Name</a>
                </h3>
                <p>@recipe.ShortDescription</p>
            </div>
        </div>
    </div>
}

<h2>Feedback</h2>


<div class="list-group">
    @foreach (var feedback in Model.Feedbacks)
    {
        <a class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="list-group-item-heading">@feedback.Name</h5>
                <small class="pull-right">@feedback.CreateDateUTC</small>
            </div>
            <p class="list-group-item-text">@feedback.Message</p>
        </a>
    }
</div>
